:root {
  --primary-color: #6c63ff;
  --secondary-color: white;
  --tertiary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  margin: 60px auto;
  max-width: 800px;
}

h1 {
  font-size: 96px;
  margin-top: 0px;
  margin-bottom: 0;
}

h2 {
  font-size: 48px;
  padding-top: 20px;
  margin-bottom: 0;
}
h3 {
  font-size: 24px;
  opacity: 0.7;
  margin-top: 0;
  padding-bottom: 15px;
}

h1,
h2,
h3 {
  text-align: center;
}
.navigation-links {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.navigation-links a {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  margin: 20px;
  padding: 20px 15px;
  text-decoration: none;
}

.contact-link {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: var(--box-shadow);
}

.about-me-link {
  background-color: white;
  color: #6c63ff;
}
.homepage-link {
  /* padding-top: 50px; */
  display: block;
  text-align: center;
  color: var(--primary-color);
}
.paragraphs {
  display: flex;
  justify-content: center;
}

p {
  background-color: var(--tertiary-color);
  margin: 0 10px;
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}
.experience {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.email-link {
  display: block;
  text-align: center;
  font-size: 28px;
  text-decoration: none;
}
img {
  width: 30px;
}
